<style>
    table {
        margin: 0 auto;
        border-collapse: collapse;
    }

    th, td {
        padding: 0.8em;
    }

    th {
        border-bottom: 1px solid #D5C9B0;
    }

    tbody tr:nth-child(odd) {
        background-color: #121E00;
    }

    :not(pre) > code {
        font-family: monospace;
        padding: 2px;
        background-color: #121E00;
        color: #E4B6C3;
        border-radius: 3px;
    }
    
    .highlight, .code {
        padding: 1px 15px;
        background-color: #272822;
        color: #222;
        border-radius: 3px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        overflow-x: auto;
    }

    hr {
        border: 0;
        border-top: 2px solid #E5AA2B;
    }
</style>